{{!-- Main text footer --}}
<footer class="site-footer outer">
  <div class="col-3-split">
    <h6>Copyright {{date format="YYYY"}}, Daniel Leightley</h6>
    <p>Except otherwise stated, everything on this site is licensed under the <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. Simply, share with attribution.</p>
  </div>
  <div class="col-3-split">
    <h6>Disclaimer</h6>
    <p>All code, opinion and information on this blog are my personal views and do not represent or relate my past and/or current employer's view in any way.</p>
  </div>
  <div class="col-3-split">
    <h6>Published with Ghost</h6>
    <p>This site runs entirely on the awesome <a href="https://ghost.org/">Ghost Pro</a> platform. Read more about Ghost and why I used it <a href="https://www.leightley.com/its-a-new-blog/">here</a>. Filestore hosted by <a href="https://m.do.co/c/b203e75fc87d">Digital Ocean</a>.</p>
  </div>
</footer>
